@font-face {
  font-family: 'AddStandard';
  src: url('/fonts/addstandard.ttf');
}

img#brick {
  display: none;
}

audio {
  display: none;
}

body {
  background-color: #00688B;
  width: 100%;
  padding: 0;
  margin: 0;
}

canvas {
  border: 0;
}

div#game-wrapper {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

canvas#game {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
}

span#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'AddStandard', 'Sans-Serif';
  font-size: 56px;
  color: #104b5c;
}

/* Animated ellipsis. Source: https://codepen.io/davidangel/pen/NqPYdW */
.one {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.0s;
  animation: dot 1.3s infinite;
  animation-delay: 0.0s;
}

.two {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s;
}

.three {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% { opacity: 0; }
   50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes dot {
    0% { opacity: 0; }
   50% { opacity: 0; }
  100% { opacity: 1; }
}
